<!-- -------------------- css -------------------- -->
<style>
	table {
		background-color: #f4f4f4;
		padding: 10px;

		border-radius: 2px;
	}

	table td {
		padding: 0 5px;
	}

	input[type='date'],
	input[type='text'] {
		width: 100%;
	}

	.answer {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.answer-button {
		margin-top: 20px;
		cursor: pointer;
		padding: 5px 15px;
	}

	.type,
	.cash,
	.accrual {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>

<!-- -------------------- html -------------------- -->
<div class="answer">
	<!-- type -->
	<div id="type" style="margin-bottom: 20px">
		<label for="type">Answer type: </label>
		<select name="type">
			<option value=""></option>
			<option value="cash">cash</option>
			<option value="accrual">accrual</option>
		</select>
	</div>

	<!-- cash -->
	<form action="/?question=<%=  questionId  %>&type=cash" method="post">
		<table id="cash" style="margin-bottom: 20px; display: none">
			<!-- entry heading  -->
			<tr>
				<th>when</th>
				<th>entries type</th>
				<th>due</th>
				<th>due amount</th>
			</tr>

			<!-- cash -->
			<form action="/?question=<%= page %>&type=cash" method="post">
				<% for (const [index, entry] of cash.entries()) { %>
				<tr>
					<td><%= index %></td>
				</tr>

				<!-- entry input -->
				<tr>
					<!-- when -->
					<td><input type="text" placeholder="mm/dd" /></td>

					<!-- entries -->
					<td>
						<select name="type">
							<option value=""></option>
							<option value="revenue">Revenue</option>
							<option value="deferred">Deferred</option>
							<option value="cash">Cash</option>
							<option value="receivable">Receivable</option>
							<option value="contra">Contra</option>
							<option value="system-credit">System Credit (Liability)</option>
						</select>
					</td>

					<!-- due -->
					<td style="display: flex; gap: 7px">
						<div
							style="
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 3px;
							"
						>
							<label for="dr">dr</label>
							<input type="radio" id="dr" name="due" value="dr" />
						</div>
						<div
							style="
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 3px;
							"
						>
							<label for="cr">cr</label>
							<input type="radio" id="css" name="due" value="cr" />
						</div>
					</td>

					<!-- amount -->
					<td>
						<input type="text" />
					</td>
				</tr>

				<% } %>

				<!-- button row -->
				<tr>
					<td>
						<!-- button -->
						<input type="hidden" name="questionId<%= questionId %>" />
						<button class="answer-button" type="submit">Submit</button>
					</td>
				</tr>
			</form>
		</table>
	</form>

	<!-- accrual -->
	<form action="/?question=<%=  questionId  %>&type=accrual" method="post">
		<table id="accrual" style="margin-bottom: 20px; display: none">
			<!-- entry heading  -->
			<tr>
				<th>when</th>
				<th>entries type</th>
				<th>due</th>
				<th>due amount</th>
			</tr>

			<!-- accrual -->
			<% for (const [index, entry] of accrual.entries()) { %>
			<tr>
				<td><%= index %></td>
			</tr>
			<!-- entry input -->
			<tr>
				<!-- when -->
				<td><input type="text" placeholder="mm/dd" /></td>

				<!-- entries -->
				<td>
					<select name="type">
						<option value=""></option>
						<option value="revenue">Revenue</option>
						<option value="deferred">Deferred</option>
						<option value="cash">Cash</option>
						<option value="receivable">Receivable</option>
						<option value="contra">Contra</option>
						<option value="system-credit">System Credit (Liability)</option>
					</select>
				</td>

				<!-- due -->
				<td style="display: flex; gap: 7px">
					<div
						style="
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 3px;
						"
					>
						<label for="dr">dr</label>
						<input type="radio" id="dr" name="due" value="dr" />
					</div>
					<div
						style="
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 3px;
						"
					>
						<label for="cr">cr</label>
						<input type="radio" id="css" name="due" value="cr" />
					</div>
				</td>

				<!-- amount -->
				<td>
					<input type="text" />
				</td>
			</tr>

			<% } %>

			<tr>
				<td>
					<!-- button -->
					<button class="answer-button">Submit</button>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- -------------------- script -------------------- -->
<script>
	document
		.getElementById('type')
		// Adding the event listener.
		.addEventListener('change', (evt) => {
			// Hiding every list.
			document.querySelectorAll('table').forEach((table) => {
				table.style.display = 'none';
			});
			// Showing the needed list.
			document.getElementById(evt.target.value).style.display = 'block';
		});
</script>
