<!-- -------------------- css -------------------- -->
<style>
  .answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .answer-type {
    margin: 20px 0;
  }

  .answer-table {
    display: none;
    background-color: #f4f4f4;
    border-radius: 2px;
    padding: 15px;
  }

  .answer-table td {
    padding: 0 5px;
  }

  .answer-table input[type="text"],
  .answer-table input[type="date"] {
    width: 100%;
  }

  .answer-button {
    margin-top: 20px;
    cursor: pointer;
    padding: 5px 15px;
  }
</style>

<!-- -------------------- html -------------------- -->
<div class="answer">

  <!-- answer type -->
  <div class="answer-type">
    <label for="type" style="font-weight: bold">Answer type: </label>
    <select id="type" name="type">
      <option value=""></option>
      <option value="cash">cash</option>
      <option value="accrual">accrual</option>
    </select>
  </div>

  <!-- cash -->
  <table
    id="cash"
    post-url="/?question=<%= page %>&type=cash"
    id="cashForm"
    class="answer-table"
  >
    <!-- entry heading  -->
    <tr>
      <th>When</th>
      <th>Entries type</th>
      <th>Due</th>
      <th>Due amount</th>
    </tr>

    <!-- cash -->
    <% for (const [index, entry] of cash.entries()) { %>
      <!-- entry input -->
      <tr>
        <!-- when -->
        <td>
          <input
            type="text"
            name="when<%= index %>"
            placeholder="mm/dd"
            required
          />
        </td>

        <!-- entries -->
        <td>
          <select onchange="setEntryType(this)" name="type<%= index %>" required>
            <option value=""></option>
            <option value="revenue">Revenue</option>
            <option value="deferred">Deferred</option>
            <option value="cash">Cash</option>
            <option value="receivable">Receivable</option>
            <option value="contra">Contra</option>
            <option value="system-credit">System Credit (Liability)</option>
          </select>
          <input
            type="hidden"
            name="type<%= index %>"
            value=""
            id="entry-type-input<%= index %> "
          />
        </td>

        <!-- due -->
        <td style="display: flex; gap: 7px">
          <select onchange="setDue(this)" name="due<%= index %>" required>
            <option value=""></option>
            <option value="Dr">Dr</option>
            <option value="Cr">Cr</option>
          </select>
          <input
            type="hidden"
            name="due<%= index %>"
            id="due-type-input<%= index %>"
          />
        </td>

        <!-- amount -->
        <td>
          <input type="number" name="dueAmount<%= index %>" required />
        </td>
      </tr>
    <% } %>

    <!-- button row -->
    <tr>
      <td colspan="4">
        <center>
          <button
            class="answer-button"
            type="button"
            onclick="checkAnswer(this.closest('table'))"
          >
            Submit
          </button>
        </center>
      </td>
    </tr>
  </table>

  <!-- cash -->
  <table
    id="accrual"
    post-url="/?question=<%= page %>&type=accrual"
    id="accrualForm"
    class="answer-table"
  >
    <!-- entry heading  -->
    <tr>
      <th>When</th>
      <th>Entries type</th>
      <th>Due</th>
      <th>Due amount</th>
    </tr>

    <!-- accrual -->
    <% for (const [index, entry] of accrual.entries()) { %>
      <!-- entry input -->
      <tr>
        <!-- when -->
        <td>
          <input
            type="text"
            name="when<%= index %>"
            placeholder="mm/dd"
            required
          />
        </td>

        <!-- entries -->
        <td>
          <select onchange="setEntryType(this)" name="type<%= index %>" required>
            <option value=""></option>
            <option value="revenue">Revenue</option>
            <option value="deferred">Deferred</option>
            <option value="cash">Cash</option>
            <option value="receivable">Receivable</option>
            <option value="contra">Contra</option>
            <option value="system-credit">System Credit (Liability)</option>
          </select>
          <input
            type="hidden"
            name="type<%= index %>"
            value=""
            id="entry-type-input<%= index %> "
          />
        </td>

        <!-- due -->
        <td style="display: flex; gap: 7px">
          <select onchange="setDue(this)" name="due<%= index %>" required>
            <option value=""></option>
            <option value="Dr">Dr</option>
            <option value="Cr">Cr</option>
          </select>
          <input
            type="hidden"
            name="due<%= index %>"
            id="due-type-input<%= index %>"
          />
        </td>

        <!-- amount -->
        <td>
          <input type="number" name="dueAmount<%= index %>" required />
        </td>
      </tr>
    <% } %>

    <!-- button row -->
    <tr>
      <td colspan="4">
        <center>
          <button
            class="answer-button"
            type="button"
            onclick="checkAnswer(this.closest('table'))"
          >
            Submit
          </button>
        </center>
      </td>
    </tr>
  </table>
</div>

<!-- -------------------- script -------------------- -->
<script>
  // set which entries type to input on drop down entries type
  // it is easier to send 'input' to the server instead of 'select'
  // because the way i form 'form data' needs to be in specific order
  setEntryType = (btn) => {
    btn.parentNode.children[1].value = btn.value;
  };

  // same thing goes for this one below, i was using radio button
  // but some how it did not pick up when btn click submit so this
  // one below work perfect
  setDue = (btn) => {
    btn.parentNode.children[1].value = btn.value;
  };

  // hide and display either cash or accrual table based on what user select
  document.getElementById("type").addEventListener("change", (evt) => {
    document.querySelectorAll("table").forEach((table) => {
      table.style.display = "none";
    });
    document.getElementById(evt.target.value).style.display = "block";
  });
</script>
